/*头部样式*/
body{
    background-color: rgba(0, 0, 0, 0.03);
}
.header{
    width:100%;
    height:50px;
    position: fixed;
    left:0;
    top:0;
    z-index: 999;
    background: #fff;
    border-bottom: 1px solid #ccc;
}
.header ul{
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.header ul li{
    width:50px;
    height:50px;
    overflow: hidden;
}
.header ul li a{
    height:50px;
    display: block;
}
.header ul li:nth-child(1) a{
    background: url("../images/icon.png") 0 -46px no-repeat;
    background-size: 214px auto;
}
.header ul li:nth-child(4) a{
    background: url("../images/icon.png") -101px 0 no-repeat;
    background-size: 214px auto;
}
.header ul li:nth-child(2) a{
    background: url("../images/icon.png") -161px -46px no-repeat;
    background-size: 214px auto;
}
.header ul li:nth-child(3){
    position: relative;
}
.header ul li:nth-child(3) a{
    background: url("../images/icon.png") -51px -46px no-repeat;
    background-size: 214px auto;
}
.header ul li:nth-child(3) b.cartNum{
    position: absolute;
    right:0;
    top:0;
    width:20px;
    height:20px;
    line-height: 20px;
    background: #f00;
    color:#fff;
    border-radius: 10px;
    font-size: 13px;
    text-align: center;
}
.hide{
    display: none;
}
#flydiv {
    width: 50px;
    height: 50px;
    padding: 2px;
    background: #fff;
    border: solid 5px #e54144;
    overflow: hidden;
    position: absolute;
    z-index: 9999;
}

article{
    padding:5px 15px 15px;
    margin-top: 15px;
    font-size: 14px;
}
article section:nth-child(1){
    margin-top:50px;
    border:1px solid #ccc;
    border-radius:5px;
    background: #fff;
}
article section .top{
    padding-bottom:10px;
    border-radius: 5px;
}
section .top >div:nth-child(1){
    width:30%;
    position: relative;
}
section .top >div:nth-child(1) img{
    width:100%;
}
section .top h3{
    color:#726e6e;
    font-size:15px;
    margin-bottom:10px;
}
section .top p{
    color:#4e4e4e;
}
section .top p.price{
    color: #65cc39;
    margin-top: 5px;
}
section .num{
    height:50px;
    line-height: 50px;
    border-top:1px solid #ccc;
    padding-left:30px;
}
section .num div:nth-child(2) div{
    width:35px;
    height:24px;
    border:1px solid #ccc;
    float: left;
    margin-top:13px;
    cursor: pointer;
 }
section .num div:nth-child(2) .reduce{
    margin-left: 15px;
    background: url("../images/reduce.gif") center center no-repeat;
}
section .num div:nth-child(2) .add{
    background: url("../images/add.gif") center center no-repeat;
}
section .num div:nth-child(2) input{
    width:60px;
    height:24px;
    float: left;
    margin-top:13px;
    text-align: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left:0;
    border-right: 0;
}
section .num span,section .num b{
    text-align: center;
    width:20px;
    height:20px;
    line-height: 20px;
    border:1px solid #ccc;
    display: inline-block;
}
section .top >div:nth-child(2){
    width:60%;
    margin: 10px 5% 0;
}
article section:nth-child(2){
    margin-top:15px;
}
section .content{
    background:rgba(215, 212, 212, 0.4);
    text-indent: 12px;
    color:#c2c2c2;
    box-shadow: 0 0 1px 1px #ccc;
    border-radius: 5px;
    margin-bottom: 40px;
}
section .content h3{
    color: #c2c2c2;
    font-size: 16px;
    padding-top:15px;
}
section .content ul{
    margin-top:10px;
    text-indent: 24px;
}
section .content ul li{
    margin-top:5px;
}
section .content img{
    width:100%;
}
section button{
    width:100%;
    height:40px;
    line-height: 40px;
    margin-top:10px;
    border:0;
    background:#28c728;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    position: fixed;
    left:0;
    bottom:0;
    z-index: 10000;

}

